/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */
 // Custom bootstrap variables must be set or imported *before* bootstrap.
  @import "bootstrap";
  
body {
  padding: 40px;
}

label {
  width: 150px;
}

div label{
  width: 150px;
  vertical-align: top;
}

li {
  margin: 10px;
}

div.outer
{
    width:75%;
    text-align: left;
}
div.inner
{
    display: inline-block;
}

.job_title {
  width: 400px;
}

#welcome {
  padding-top: 30px;
  padding-bottom: 30px;
}

hr.dashed {
  border-top: 3px dashed #bbb;
}

form.button_to {
  
}

.profile_label {
  width: 200px;
}